#menüpanel{
    background-color: blue;
    color: white;
    padding: 15px;
}
.faanyag{
    text-align: center;
}
body{
    background-image: url("szerszamok_esuxx84f.png");
}
#nev{
    color: white;
    background-color: blue;
    max-width: 80px;
}