.Blokk1{
    margin: 50px;
    border: black;
}
.Blokk2{
    margin: 50px;
}
.Blokk3{
    margin: 50px;
}
.Blokk4{
    margin: 50px;
}
.Blokk5{
    margin: 50px;
}
.Blokk6{
    margin: 50px;
}
.Blokk7{
    margin: 50px;
}
.Blokk8{
    margin: 50px;
}
#menüpanel{
    background-color: blue;
    color: white;
    padding: 15px;
}
.faanyag{
    text-align: center;
}
body{
    background-image: url("szerszamok_esuxx84f.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#nev{
    color: white;
    background-color: blue;
    max-width: 80px;
}
.kerekfa{
    max-width: 160px;
    max-height: 160px;
}
head{
    background-color: white;
    color:white;
    max-height: 50000px;
    max-width: 80000px;
    text-align: center;
}
#dio{
    float: right;
}
p{
    color: white
}
.cim{
    color: white;
}