.Blokk1{
    margin: 50px;
}
.Blokk2{
    margin: 50px;
}
.Blokk3{
    margin: 50px;
}
.Blokk4{
    margin: 50px;
}
.Blokk5{
    margin: 50px;
}
.Blokk6{
    margin: 50px;
}
.Blokk7{
    margin: 50px;
}
.Blokk8{
    margin: 50px;
}
